


.result-map {
    width: 100%; height: 100%;
    border: none;
    .ol-zoom {
        display: flex; flex-direction: column;
        gap: 1rem;
        top: auto; left: auto;
        bottom: 1rem; right: 1rem;
        button {
            background-color: $white;
            transition: all 300ms ease-in-out;
            &:hover {
                background-color: $primary-500;
            }
        }
    }
    .lux-popup {
        width: 20rem;
        background-color: #fff;
        background-clip: padding-box;
        border: 0px;
        border-radius: 1rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        &-header {
            display: none;
        }
        &-content {
            padding: 0;
            max-height: max-content;
            .description {
                height: 100%;
                padding: 1rem;
                font-family: 'Poppins', sans-serif;
            }
            img {
                aspect-ratio: 16 / 6;
                object-fit: cover;
                width: 100%;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
            .name {
                padding: 0.25rem 0.5rem 0;
                font-weight: 500;
                font-size: 1.2rem;
            }
            .address, .email, .phone {
                display: flex;
                padding: 0.25rem 0.5rem 0;
                font-size: 1rem;
            }
        
        }

    }


}