




.page-header {
    margin: 100px 0;
    &-title {
        font-size: 55px;
        font-weight: 800;
        color: $secondary-500;
        margin-bottom: 20px;
        line-height: 60px;
    }
    &-highlight {
        color: $highlight-500;
        font-family: "shelby", sans-serif;
        font-weight: 700;
        font-size: 115px;
    }
    &-secondary {
        max-width: 500px;
        color: $text-secondary-color;
        font-size: 18px;
        line-height: 30px;
    }
    @include media-max('lg') {
        &-title {
            font-size: 40px;
        }
        &-highlight {
            font-size: 90px;
        }
        }

}
