




html, body {
    font-family: 'Poppins', sans-serif;
    color: $text-color;
    background-color: $background-color;
    min-height: 100vh;
}
#__next {
    display: flex; flex-direction: column;
    min-height: 100vh;
}

/**
 * Responsive variables
 */
:root {
    --padding: 50px;
    @include media-min('xl') {
        --padding: 50px;
    }
    @include media-max('xl') {
        --padding: 40px;
    }
    @include media-max('sm') {
        --padding: 30px;
    }
}
